{{page-title "Feed"}}

<h2>
  <a href="{{@model.url}}" class="text-decoration-none text-black" data-id="feed-heading" rel="noopener noreferrer" target="_blank">
    {{@model.title}}
  </a>
</h2>

<FeedView @feedItems={{@model.feedItems}} />

{{outlet}}
